@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Lato', sans-serif;
	background: #21c1e3;
	color: rgb(44, 62, 80);
}
.navbar {
	margin-bottom: 0px;
	background: #21c1e3;
	color: #000;
	border: none;
	border-radius: 0px;
}
.navbar .container {
	border-bottom: 1px solid rgba(255,255,255,0.4);
}
.navbar .navbar-brand {
	color: #fff;
	margin: 0px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 0px;
}
.navbar .navbar-brand img {
	height: 20px;
	-webkit-transition: .2s ease all;
	-moz-transition: .2s ease all;
	-ms-transition: .2s ease all;
	transition: .2s ease all;
}
.navbar .navbar-brand img:hover {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}
.navbar .navbar-nav > li > a {
	color: #fff;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
	color: rgb(44, 62, 80);
}.form-control {
	background: #f2f3f4;
	border: none;
	box-shadow:  none;
}
.btn-warning {
	background: #fe5722;
	border-color: #b2320a;
	color: #fff;
}
.btn-default {
	border-color: #fff;
	color: #fff;
	background: transparent;
}
.btn-default:hover {
	border-color: #fff;
	color: rgb(44, 62, 80);
}
.btn {
	font-weight: 700;
	-webkit-transition: .4s ease all;
	-moz-transition: .4s ease all;
	-ms-transition: .4s ease all;
	transition: .4s ease all;
	border-bottom-width: 4px;
	border-style: solid !important;
}
.pg-canvas {
	position: absolute;
}
.main {
	width: 100%;
	height: auto;
	position: relative;
	background: url(../images/mn_bg.png) top center no-repeat #21c1e3;
}
.main .soundwave {
	width: 158px;
	height: 160px;
	background: url(../images/sound_wave.png);
	position: absolute;
	bottom: -76px;
	left: 50%;
	margin-left: -79px;
}
.main_inner {
	top: 100px;
	height: 100%;
	width: 100%;
	padding: 100px 0px 180px 0px;
}
.main_inner .btn {
	padding: 20px 40px;
	margin-top: 40px;
}
.main_inner h1 {
	color: #fff;
	font-weight: 300;
	font-size: 46px;
	line-height: 60px;
	font-family: 'Lato', sans-serif;
	margin-top: 0px;
	text-shadow: 0px 2px 12px rgba(0,0,0,0.1);
}
.main_inner #drawing_canvas {
	position: absolute;
	width: 620px;
	height: 687px;
	top: -210px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	right: 0;
	pointer-events: none;
	z-index: 100;
}
.main_inner .callout_arrow {
	position: absolute;
	bottom: -60px;
}
.advertune_featured_box {
	padding: 20px;
	border: 1px dashed rgba(255,255,255,0.4);
	float: right;
	margin-right: -200px;
	right: 50%;
	position: relative;
}
.advertune_featured {
	width: 300px;
	height: 250px;
	background: #fff;
	-webkit-transition: 0.5s ease all;
	-moz-transition: 0.5s ease all;
	-ms-transition: 0.5s ease all;
	transition: 0.5s ease all;
	position: relative;
	z-index: 200;
	border-radius: 4px;
}
.advertune_featured .advertune_powered {
	width: 100%;
	height: 20px;
	float: left;
	background: rgb(44, 62, 80);
	border-bottom: 1px solid #1c2937;
	border-radius: 5px 5px 0px 0px;
}
.advertune_featured .advertune_powered p {
	font-size: 8px;
	line-height: 20px;
	color: #fff;
}
.advertune_featured .advertune_powered img {
	height: 10px;
	margin-top: -2px;
	margin-left: 10px;
}
.advertune_featured .featured_info {
	width: 100%;
	height: 50px;
	float: left;
	background: rgb(44, 62, 80);
	color: #fff;
	text-align: left;
	margin-top: -5px;
	border-top: 1px solid #1c2937;
	box-sizing: border-box;
	border-radius: 0px 0px 5px 5px;
}
.advertune_featured .featured_info a {
	line-height: 49px;
	height: 49px;
	float: left;
	width: 50%;
	padding: 0px 10px;
	box-shadow: 1px 0px 0px #1c2937, 2px 0px 0px #435c75;
	color: #fff;
	text-shadow: 0px -1px 0px #000;
	text-align: center;
	text-decoration: none !important;
	border-radius: 0px 0px 0px 5px;
}
.advertune_featured .featured_info a:hover {
	background: #435c75;
}
.advertune_featured .featured_info a i {
	color: #fff;
	font-size: 12px;
	padding-right: 4px;
}
.advertune_featured .featured_info a:last-child {
	box-shadow: none;
	border-radius: 0px 0px 5px 0px;
}
.bullets {
	padding: 120px 0px 60px 0px;
	text-align: center;
	position: relative;
	background: #fff;
}
.bullets h2 {
	font-weight: 900;
}
.bullets h3 {
	font-weight: 300;
	margin-bottom: 80px;
	font-size: 24px;
	line-height: 36px;
}
.bullets h4 {
	margin-top: 40px;
	font-weight: 600;
	color: #21c1e3;
}
.bullets .clouds_top {
	width: 100%;
	height: 168px;
	background-image: url(../images/clouds_top.png);
	position: absolute;
	bottom: -168px;
	left: 0px;
	right: 0px;
	z-index: 200;
}
.bullets .clouds_bottom {
	width: 100%;
	height: 216px;
	background-image: url(../images/clouds_bottom.png);
	position: absolute;
	bottom: -216px;
	left: 0px;
	right: 0px;
	z-index: 100;
}
.bullets .col-sm-4::after {
	width: 60px;
	height: 60px;
	content: "";
	position: absolute;
	right: -30px;
	top: 25%;
	background: url(../images/next_arrow.png)
}
.bullets .col-sm-4:last-child::after {
	display: none;
}
.yellow {
	background: #f1c40f;
	padding: 240px 0px 60px 0px;
}
.yellow h3 {
	font-weight: 900;
	color: #7a5300;
	font-size: 40px;
	margin-bottom: 20px;
}
.yellow p {
	font-size: 20px;
	color: #7a5300;
	margin-bottom: 20px;
}
.yellow .panel-default {
	background: transparent;
	border-color: #cea917;
}
.why {
	padding: 100px 0px 200px 0px;
	text-align: center;
	background: #fff;
}
.why h3 {
	font-weight: 900;
	font-size: 30px;
}
.why h4 {
	font-weight: 300;
	margin-bottom: 40px;
	font-size: 24px;
	line-height: 36px;
}
.why .why_box {
	border-right: 1px solid #dadada;
	padding: 30px 0px;
	font-weight: 700;
	font-size: 20px;
}
.why .why_box:last-child {
	border-right: none;
}
.why p {
	font-size: 16px;
	margin-top: 20px;
}
.faq {
	padding: 60px 0px;
	text-align: center;
	background: #fff;
}
.faq h3 {
	font-size: 40px;
	font-weight: 100;
}
.faq h4 {
	font-size: 20px;
	font-weight: 300;
}
.faq .question {
	border: 1px dotted #dadada;
	padding: 20px;
	margin-top: 20px;
}
.faq .question h5 {
	font-size: 16px;
	font-weight: 700;
	color: #f1c40f;
}
.pricing {
	background: #21c1e3;
	padding: 60px 0px 120px 0px;
	color: #fff;
	text-align: center;
	position: relative;
}
.pricing h3 {
	font-weight: 700;
	font-size: 50px;
}
.pricing p {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 40px;
}
.pricing h4 {
	font-weight: 700;
	font-size: 100px;
}
.pricing .col-sm-8 {
	position: relative;
	z-index: 300;
}
.pricing .btn {
	padding: 20px 50px;
}
.pricing .panel-heading {
	background: #f1c40f;
	font-weight: 900;
	font-size: 20px;
	color: rgb(44, 62, 80);
}
.pricing .panel-default {
	background: rgb(44, 62, 80);
}
.pricing .panel-footer {
	background: rgb(44, 62, 80);
}
.pricing .waves {
	width: 100%;
	height: 94px;
	background-image: url(../images/wave_image.png);
	position: absolute;
	top: -94px;
	left: 0px;
	right: 0px;
	z-index: 100;
}
.pricing .bubbles {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	top: -100px;
	z-index: 200;
	padding: 100px 0px 0px 0px;
	box-sizing: content-box;
}
.footer {
	padding: 20px 0px;
	font-size: 11px;
	text-align: center;
	background: #fff;
}
.footer p {
	margin: 0px;
}

/* DASHBOARDS */

/* ADVERTISER DASHBOARD */

.dash .btn {
	border: none;
}
.dash .overview {
	width: 100%;
	margin: 40px 0px;
}
.dash .overview .cashmoney {
	width: 100%;
	background:  #fff;
}
.dash .overview .cashmoney .funds_available {
	border-right: 1px solid #21c1e3;
	padding: 20px 40px;
	display: inline-block;
}
.dash .overview .cashmoney .funds_used {
	padding: 20px 40px;
	display: inline-block;
}
.dash .overview .cashmoney .funds_available h4, .dash .overview .cashmoney .funds_used h4 {
	text-transform: uppercase;
	font-size:  12px;
	font-weight: 300;
	color: #2c3e50;
	margin: 0px;
}
.dash .overview .cashmoney .funds_available p, .dash .overview .cashmoney .funds_used p {
	font-size: 80px;
	font-weight:  800;
	color: #2c3e50;
	margin: 0px;
	padding: 0px;
	line-height: 80px;
}
.dash .overview .cashmoney .funds_available p .dollar_sign, .dash .overview .cashmoney .funds_used p .dollar_sign {
	font-size: 40px;
	font-weight:  300;
}
.dash .overview .cashmoney .btn_add_funds {
	width: 100px;
	border-width: 1px;
	border-color: #21c1e3;
	color: #2c3e50;
	margin: 10px;
	background: transparent;
}
.dash .overview .account {
	width: 100%;
	padding: 10px;
	position: relative;
	background: #2c3e50;
}
.dash .overview .account .mainbar {
	position: relative;
	width: 100%;
	top: 0px;
	left: 0px;
	background: #2c3e50;
	z-index: 700;
}
.dash .overview .account .btn_account {
	background: #1b2632;
	color: #fff;
	border-width: 0px;
}
.dash .overview .account .btn_add_ad {
	width: 100px;
	border-width: 0px;
}
.dash .overview .account .add_an_ad {
	color: #fff;
	background: #2c3e50;
	border-top: 1px solid #1b2632;
	width: 100%;
	margin-top: 10px;
	padding: 10px 10px 0px 10px;
	position: absolute;
	z-index: 600;
}
.dash .overview .account .add_an_ad.ng-hide-add {
	-webkit-animation: fadeOutUp 1s;
    -moz-animation: fadeOutUp 1s;
    -ms-animation: fadeOutUp 1s;
    animation: fadeOutUp 1s;
}
.dash .overview .account .add_an_ad.ng-hide-add.ng-hide-add-active {
}
.dash .overview .account .add_an_ad.ng-hide-remove {
	-webkit-animation: fadeInDown 1s;
    -moz-animation: fadeInDown 1s;
    -ms-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
}
.dash .overview .account .add_an_ad.ng-hide-remove.ng-hide-remove-active {
}
.dash .advert_list {
	padding: 0px;
	margin: 0px;
}
.dash .advert_cont {
	width: 100%;
	height: 180px;
	list-style:  none;
	position:  relative;
}
.dash .advert_cont .sc_cont {
	width: 300px;
	height: 180px;
	background: #fff;
	position:  absolute;
}
.dash .advert_cont .advert_title {
	background: #2c3e50;
	height: 60px;
	margin-left: 300px;
	color: #fff;
	padding: 0px 20px;
	position:  relative;
}
.dash .advert_cont .advert_title h3 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height:  60px;
	font-weight:  100;
	font-size: 30px;
	padding: 0px;
	margin: 0px 20% 0px 0px;
}
.dash .advert_cont .advert_title .btn-group {
	position:  absolute;
	right: 10px;
	top: 10px;
}
.dash .advert_cont .advert_title .btn {
	color: #89290a;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	height: 40px;
	width: 50px;
	font-size: 20px;
}
.dash .advert_cont .advert_title .btn:first-child {
	border-right-width: 1px;
}
.dash .advert_cont .advert_title .btn:last-child {
	border-left-width: 1px;
}
.dash .advert_cont .advert_stats {
	background: #141c25;
	height: 120px;
	margin-left: 300px;
}
.dash .advert_cont .advert_stats .advert_status {
	background: #1b2632;
	width: 120px;
	height:  120px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	padding: 26px 0px;
}
.dash .advert_cont .advert_stats .advert_status i {
	font-size: 32px;
	margin-bottom: 10px;
}

@media (max-width:767px) {
.navbar .navbar-toggle {
	border-color: #dadada;
}
.navbar .navbar-toggle .icon-bar {
	background-color: #dadada;
}
.main_inner {
	margin-left: 0px;
	padding: 40px 0px 180px 0px;
	overflow: hidden;
}
.main_inner h1 {
	font-size: 24px;
	line-height: 34px;
}
.main_inner .btn {
	padding: 20px 10px;
	margin-bottom: 40px;
	margin-top: 20px;
	width: 100%;
	word-wrap: break-word;
	white-space: normal;
}
.advertune_featured {
	width: 100%;
}
.advertune_featured_box {
	margin-right: 0;
	right: 0;
	width: 100%;
}
.main_inner .callout_arrow {
	bottom: auto;
	top: 320px;
}
.bullets h3 {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 0px;
}
.bullets .col-sm-4 {
	margin-top: 40px;
}
.bullets .col-sm-4::after {
	display: none;
}
.why .why_box {
	border-right: none;
}
.why h3 {
	font-size: 24px;
}
.why h4 {
	font-size: 20px;
	line-height: 30px;
}
.pricing h4 {
	font-size: 50px;
}
.pricing .btn {
	padding: 20px 10px;
	width: 100%;
}
}

@media (min-width:768px) and (max-width:991px) {
.main_inner {
	padding: 100px 0px 184px 0px;
}
.main_inner h1 {
	font-size: 30px;
	line-height: 44px;
}
}
@media (min-width:992px) and (max-width:1199px) {
.main_inner {
	padding: 100px 0px 120px 0px;
}
@media (min-width:1200px) {
}
