<div class="container-fluid dash">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 hidden">
				<form ng-submit="createAdvert()" class="form-inline" role="form">
				  <div class="form-group">
				    <label class="sr-only" for="adName">Party name</label>
				    <input ng-model="guest.name" type="text" class="form-control" id="partyName" placeholder="Party name" required>
				  </div>
				  <div class="form-group">
				    <label class="sr-only" for="adSoundcloudAccount">Phone number</label>
				    <input ng-model="guest.phone" type="phone" class="form-control" id="phoneNumber" placeholder="Phone number" required>
				  </div>
				  <div class="form-group">
				    <label class="sr-only" for="adBuyLink">Phone number</label>
				    <input ng-model="guest.phone" type="phone" class="form-control" id="phoneNumber" placeholder="Buy link" required>
				  </div>
				  <div class="form-group">
				    <label class="sr-only" for="adSoundcloudEmbed">Size of party</label>
				    <select ng-model="guest.size" type="phone" class="form-control" id="sizeOfParty" placeholder="Size of party" required>
				    	<option>1</option>
				    	<option>2</option>
				    	<option>3</option>
				    </select>
				  </div>
				  <button type="submit" class="btn btn-primary">Add to waitlist</button>
				</form>
			</div>
			<div class="col-sm-12 hidden">
				<hr>
				<table class="table table-striped table-bordered">
					<tbody>
						<li ng-repeat="advert in adverts | orderByPriority">
							<td>
								<input ng-model="advert.done" ng-change="adverts.$save(party.$id)" type="checkbox">
							</td>
							<td>
								{{party.name}} ({{party.size}} people) <br> {{party.phone}} 
							</td>
							<td>
								{{party.notified}}
							</td>
							<td>
								<button ng-click="sendTextMessage(advert)" type="submit" class="btn btn-success">Send SMS</button>
								<button ng-click="adverts.$remove(advert.$id)" type="submit" class="btn btn-danger">Remove</button>
							</td>
						</li>
					</tbody>
				</table>
			</div>
			<div class="col-sm-12">
				<div class="overview">
					<div class="cashmoney">
						<div class="funds_available">
							<h4>Available Funds</h4>
							<p><span class="dollar_sign">$</span>104572</p>
						</div>
						<div class="funds_used">
							<h4>Funds Spent</h4>
							<p><span class="dollar_sign">$</span>341037</p>
						</div>
						<button class="btn btn_add_funds pull-right"><i class="fa fa-dollar"></i><br>add funds</button>
					</div>
					<div class="account">
						<button class="btn btn_account"><i class="fa fa-cog"></i> account</button>
						<button ng-click="show=!show" class="btn btn-warning btn_add_ad pull-right"><i class="fa fa-plus"></i> add an ad</button>
						<div ng-show="show" class="row">
							<div class="col-sm-12">test</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<ul class="advert_list">
					<li class="advert_cont">
						<div class="sc_cont">
							<iframe width="100%" height="180" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/167794448&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						</div>
						<div class="advert_title">
							<h3>The Kingdumb Advertisement Super Long Title To Test Truncation</h3>
							<div class="btn-group pull-right">
							  <button type="button" class="btn btn-warning"><i class="fa fa-pencil"></i></button>
							  <button type="button" class="btn btn-warning"><i class="fa fa-pause"></i></button>
							</div>
						</div>
						<div class="advert_stats">
							<div class="advert_status pull-right"><i class="fa fa-spin fa-circle-o-notch"></i><br>Running</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>