<div class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Do you want to start earning money on your website by publishing music instead of ads?</h1>
				<p><b>Advertune is currently invite only.</b> Please fill out the form below and we will send you an invitation email.</p>
				<hr>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<form ng-submit="savePublisher()" role="form">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="publisherFirstName">First Name</label>
										<input ng-model="publisher.firstname" type="text" class="form-control input-lg" id="publisherFirstName" placeholder="First Name">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="publisherFirstName">Last Name</label>
										<input ng-model="publisher.lastname" type="text" class="form-control input-lg" id="publisherLastName" placeholder="Last Name">
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<label for="publisherEmail">Your email</label>
										<input ng-model="publisher.email" type="email" class="form-control input-lg" id="publisherEmail" placeholder="email@domain.com">
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<label for="publisherBudget">Monthly page views</label>
										<select ng-model="publisher.size" type="text" class="form-control input-lg" id="publisherBudget">
											<option>1,000</option>
											<option>1,001-5,000</option>
											<option>5,001-10,000</option>
											<option>10,001-50,000</option>
											<option>50,001-100,000</option>
											<option>100,001-500,000</option>
											<option>500,001-1,000,000</option>
											<option>1,000,000+</option>
										</select>
									</div>
								</div>
								<div class="col-sm-12">
									<button type="submit" class="btn btn-lg btn-primary">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>